 @keyframes floating{
   from{transform: translate(0px,10px);}
   to{transform:translate(0px,-10px);}
}
@keyframes rotating{
   from{transform: rotateX(0);}
   to{transform: rotateX(360deg);}
}
@keyframes twisting{
   from{transform: rotateY(0);}
   25%{transform: rotateY(30deg);}
   50%{transform: rotateY(0deg);}
   75%{transform: rotateY(-30deg);}
   to{transform: rotateY(0deg);}
}

#profdiv{
   animation-name:floating;
   animation-duration:2s;
   animation-timing-function:ease-in-out;
   animation-iteration-count:infinite;
   animation-direction: alternate;
}

.tabservicesdiv,.tabblogsdiv,.tabportfoliodiv{
   animation-name:floating;
   animation-duration:2s;
   animation-timing-function:ease-in-out;
   animation-iteration-count:infinite;
   animation-direction: alternate;
   position: relative;
}

#aboutimg{
   animation-name:floating;
   animation-duration:2s;
   animation-timing-function:ease-in-out;
   animation-iteration-count:infinite;
   animation-direction: alternate;
}

.btn.showmore:active{
   animation-name:rotating;
   animation-duration:1s;
   animation-timing-function:ease-in-out;
   animation-iteration-count:1;
}

.heading{
   animation-name:rotating;
   animation-duration:10s;
   animation-timing-function:cubic-bezier(0.77, 0, 0.175, 1);
   animation-iteration-count:infinite;
}

.btn.subbtn{
   animation-name:twisting;
   animation-duration:0.5s;
   animation-timing-function:ease-in-out;
   animation-iteration-count:infinite;
}
