
*{
    font-family:"Poppins",sans-serif;
}

.btn{
    text-align:center;
    margin:3px;
    font-size:20px;
    background-color:#7a7aff;
    border-radius:25px;
    color:white;
    border-width:5px;
    border-style:double;
    border-color:white;
}

.btn:hover{
    color:#7a7aff;
    background-color:white;
    
}

#followers{
    color:#7a7aff;
    font-size:20px;
}

#name{
    color:#7a7aff;
}

.profile{
    display:flex;
    flex-flow:column;
    min-height:500px;
    background-color:#000000;
    background-image:url(jovinprof.jpg);
    background-position:center-left;
    background-size:40% 100%;
    background-repeat:no-repeat;
    text-align:center;
    color:white;
}

#menu{
   float:right;
   background-color:#000000;
   width:60%;
   height:100%;
   margin:none;
  
}
#menu ul{
    float:right;
    list-style-type:none;
    margin:0;    
}
#menu li{
    font-family:"Poppins",sans-serif;
    float:left;
    color:#7a7aff;
    text-align:center;
    font-weight:bold;
    padding:30px;
}
#menu li:hover{
    background-color:#7a7aff;
    color:white;
}
#profdiv{
    display:inline-block;
    padding:3px;
    font-size:20px;
    margin-left:500px;
    margin-top:10px;
}

.tabservices{
    display:flex;
    flex-flow:row;
    align-content:center;
    justify-content:center;
}
.tabservicesdiv{
    background-color:#4942E4;
     border-radius:10%;
     height:100px;
     color:white;
     width:300px;
     margin-right:30px;
     text-align:center;
     box-shadow:5px 5px 2px #696897;
}

.tabportfolio{
    display:flex;
    flex-flow:row;
    align-content:center;
    justify-content:center;
}
.tabportfoliodiv{
    background-color:#8696FE;
     border-radius:10%;
     width:300px;
     color: white;
     height:100px;
     margin-right:30px;
     text-align:center;
     box-shadow:5px 5px 2px #696897;
}

.tabblogs{
    display:flex;
    flex-flow:row;
    align-content:center;
    justify-content:center;
}
.tabblogsdiv{
    background-color:#c4b0f4;
     border-radius:10%;
     color: white;
     width:300px;
     height:100px;
     margin-right:30px;
     text-align:center;
     box-shadow:5px 5px 2px #696897;
}

.section{
  text-align:center;
    display:flex;
    flex-flow:column; 
    font-size:20px; 
    font-family:"Poppins",sans-serif;
}

#timelinediv{
    position:relative;
    max-width:1200px;
    padding-bottom: 30px;;
}

#timelinediv::after{
    left:55%;
    content:'';
    position:absolute;
    width:5px;
    height:fill;
    background-color:#7a7aff;
    top:0;
    bottom:0;    
}

.container{
    position:relative;
    background-color:#7a7aff;
    color:white;
    width:30%;
    height:100px;
}

.left::after{
    content:'';
    position:absolute;
    width:20px;
    height:20px;
    margin-left:57%;
    top:30px;
    background-color:#7a7aff;
    border-style:double;
    border-width:3px;
    border-color:white;
    border-radius:50%;
    z-index:1;
}

.right::before{
    content:'';
    position:absolute;
    width:20px;
    height:20px;
    margin-left:-64.5%;
    top:30px;
    background-color:#7a7aff;
    border-style:double;
    border-width:3px;
    border-color:white;
    border-radius:50%;
    z-index:1;
}

.left{
    left:22%;
}

.right{
   left:58.5%;
}

#aboutimg{
    border-radius:50%;
    box-shadow:5px 5px 6px #1a1a1a;
    width:200px;
    height:200px;
    margin:auto;
}


.aboutdiv{
    font-size:20px;
    width:500px;
    margin:auto;
}

#newsletter{
    margin:auto;
    float:center;
}
#newsletter label{
    font-size:30px;
    color:#7a7aff; 
    display:inline-block;
}
.subbox{
    font-size:15px;
    color:#5c40ff;
    font-weight:bold;
    font-family:serif;
    text-align:center;
    width:250px;
    border-radius:10%;
    border-color:#5c40ff;
    border-style:double;
    border-width:5px;
    height:20px;
}

.subbox:hover{
    background-color:#f3f4f6;
}

.btn.subbtn:hover{
  border-color:#7a7aff;
background-color:white;
color:#7a7aff;  
}

.connectmesun{
    display:flex;
    flex-flow:row;  
    margin: 30px;
}

.connectmesun i{
    margin-left:150px;
}
.connectmesun i:hover{
    background-color:black;
    color:white;
    width:30px;
    height:30px;
    border-radius:50%;
}

.connectmemoon{
    display:flex;
    flex-flow:row;  
    margin:30px;
}

.connectmemoon i{
    margin-left:150px;
}
.connectmemoon i:hover{
    background-color:white;
    color:black;
    width:30px;
    height:30px;
    border-radius:50%;
}


#theme{
    color:#7a7aff;
    width:20px;
    height:20px;
    border-radius:10%;
    background-color:#1a1a1a;
    
}
#theme:hover{
    background-color:#7a7aff;
    color:white;
}

#followdrop{
    display:none;
    width:250px;
    height:100px;
    background-color:#7a7aff;
    color:white;
    border-radius:5%;
    margin:auto;
    margin-left:800px;
    z-index:8;
}
.btn.followdropbtn{
    background-color:#5f27b9;
    border-color:#5f27b9;
}
.subbox.first{
    width:200px;
}

.contactdiv{
    display:none;
    background-color:white;
    color:#7a7aff;
    border-radius:5%;
    width:fit-content;
    margin-left:300px;
}

.contactdiv i:hover{
    background-color:#7a7aff;
    color:white;
}

.services h2{
    color:#4942E4;
}

.portfolio h2{
    color:#8696FE;
}

.blogs h2{
    color:#c4b0f4;
}

.timeline h2{
    color:#7a7aff;
}

#toogleMenu{
   display:none;
   color:#7a7aff;
}
#closeMenu{
    display:none;
}

.btn.showmore{
    border-radius:10%;
    height:50px;
    border-style: solid;
    border-width:3px;
    z-index:1;
}

